.first_heading {
    color: darkgrey;
}
.second_heading {
    color: gold;
}
.third_heading {
    color: darkred;
}
p {
    color: darkgrey;
}
.first-last-text {
    color: darkgrey;
}
.second-last-text {
    color: gold;
    
}
.third-last-text {
    color: darkred;
}